/* ===== HEADER ===== */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* background: rgba(0, 0, 0, 0.35); */
    /* backdrop-filter: blur(6px); */

    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}

.header-container {
    margin: auto;
    padding: 8px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo img {
    height: 20px;
}

/* Desktop Nav */
.nav-desktop {
    display: flex;
    gap: 10px;
}

.nav-desktop a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

/* Header Right */
.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.call-info {
    color: #fff;
    font-size: 14px;
}

/* Hamburger */
.hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
}

/* ===== SIDEBAR ===== */
.sidebar {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100vh;
    background: #fff;
    padding: 24px;
    z-index: 200;
    transition: right 0.4s ease;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.sidebar.open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}



.close-btn a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #00ba9f;
    color: #00ba9f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all ease-in .2s;
}

.Logo-sec {
    display: block;
    position: relative;
}

.Logo-sec::after {
    content: "";
    display: block;
    width: 100%;       
    height: 1px;       
    background-color: #00ba9f;
    margin-bottom: 24px;   
}

.close-btn a:hover {
    background-color: #00ba9f;
    color: white;
    transition: all ease-in .2s;
}

.sidebar-logo {
    height: 50px;
    margin-bottom: 24px;
}

.sidebar-section {
    margin-bottom: 30px;
}

.sidebar-logo::after {
    content: "";
    min-width: auto;
    background-color: #00ba9f;
    max-height: 1px;
}

.sidebar-section h4 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .3rem;
    color: #00ba9f;
}

.sidebar-section p {
margin: 0px 0px 2px;
line-height: 26px;
color: #353844;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #00ba9f;
    color: #00ba9f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all ease-in .2s;
}

.social-icons a:hover {
    background-color: #00ba9f;
    color: white;
    transition: all ease-in .2s;
}

/* Overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 150;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.Aertrip_Header{
    color: #00ba9f;
    border-bottom: 5px;
}

.login_signup_btn {
  background-color: transparent ;
  border: 1px solid #00ba9f;
  border-radius: 12px;
  color: #00ba9f;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login_signup_btn:hover {
  background-color: #00ba9e13;
}


@media (min-width: 768px) {
  .login_signup_btn {
    min-width: 120px;
    padding: 0 25px;
  }
}