@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*  Custom css */

.loader {
  height: 80px;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  filter: blur(12px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(#0000 35%,#14b8a6,#0000 65%);
  animation: l1 1.5s linear infinite;
}
@keyframes l1 {
  to {rotate: 1turn}
}

.thumb {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 36px;
    background: transparent;
    pointer-events: none;
    cursor: pointer;
}

.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #14b8a6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.thumb::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #0077cc;
}

.cta_btn {
  background-color: transparent ;
  border: 1px solid #00ba9f;
  border-radius: 12px;
  color: #00ba9f;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.cta_btn:hover {
  background-color: #00ba9f;
  color: white;
}
